.App {
  text-align: center;
}
.todo-collection {
  margin-top: 1rem;
  a {
    text-decoration: none;
    color: #000;
  }
  .item-completed {
    background-color: rgba(77, 140, 240, 0.5) !important;
    color: #f1f1f1;
  }
  .todo-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
    max-width: 100%;
    &:hover {
      background: #fff;
      border: 1px solid #0d72d8;
      transition: all 0.3s ease-in-out;
      .next {
        display: inline-block;
        margin-left: 20%;
        i {
          font-size: 1.5rem;
          color: #0d72d8;
        }
      }
    }
    .item {
      display: inline-block;
      position: relative;
    }
    .todo-icon {
      position: absolute;
      display: inline-block;
      font-size: x-large;
      color: red;
      margin-top: 2rem;
      margin-left: 7rem;
     cursor: pointer;
  
    }
    .next {
      display: none;
    }
    .show-task-btn {
      border: none;
      background: transparent;
      text-align: left;
      &:focus,
      &:hover {
        border-style: none;
        border: none;
        outline: none;
      }
    }
  }
}
.showTodo {
  text-align: left;
  margin: 2rem;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.1);
  ul li {
    list-style: none;
    margin: 1rem;
    .label {
      color: #0d72d8;
      font-size: 1.1rem;
      font-weight: bolder;
      margin-right: 1rem;
    }
  }
}
